.contenedor-botones-usuario {
    margin: 5%;
}

.contenedor-lista-posts {
    margin: 10%;
    margin-left: 5%;
    
}

.boton-usuario {
    background-color: aquamarine;
    padding: 5%;
    size: 5rem;
    margin: 2rem;
    border: 0;
    font-family: helvetica;
    font-size: 2.2rem;
}

.boton-usuario {
    -webkit-transition: background-color 0.8s ease-out;
    -moz-transition: background-color 0.8s ease-out;
    -o-transition: background-color 0.8s ease-out;
    -ms-transition: background-color 0.8s ease-out;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out, background-color 0.8s ease-out;
}

.boton-usuario:active {
    transform: translateY(2px);
}

.boton-usuario:hover {
    background-color: cadetblue;
    color: blanchedalmond;
}

.post {
    /*margin: 50px;*/
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.titulo-post {
    display: inline-block;
    font-size: 2rem;
    transition: background-color 0.3s ease-out, transform 0.2s;
    
    
}

.titulo-post:hover {
    transform: translateY(2px);
    background-color: aquamarine;
}

.texto-post {
    margin: 60px;
    margin-left: 0px;
    color: darkslateblue;
    font-size: 1rem;
}

.expandable {
    background: #fff;
    overflow: hidden;
    color: #000;
    line-height: 50px;
    transition: all .5s ease-in-out;
    height: 0;
}

.expandable:target {
    height: 10%;
}

.boton-comentarios {
    color: darkgray;
    margin: 30px;
    margin-left: 0px;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    /*-webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    -ms-transition: background-color 0.3s ease-out;
    */
    transition: background-color 0.3s ease-out, color 0.3s ease-out, transform 0.5s;
}

.boton-comentarios:active {
    transform: translateY(4px);
}

.boton-comentarios:hover {
    color: cadetblue;
    transform: translateX(8px);
   

}


.contenedor-lista-comentarios {

}


.comentarios-post {
    height: 100%;
}


.texto-comentarios {

}
/*
.texto-post: :active {
    animation-duration: 3s;
    animation-name: slided;
  }
  
  @keyframes slided {
    from {
      margin-top: 100%;
      height: 300%
    }
  
    to {
      margin-top: 0%;
      height: 100%;
    }
  }